<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="c.core.ApplicationProvider"
            android:authorities="${applicationId}.ApplicationProvider"
            android:exported="false"
            android:multiprocess="true" />

        <meta-data
            android:name="ui_design_width"
            android:value="${designWidth}" />
        <meta-data
            android:name="ui_design_height"
            android:value="${designHeight}" />
    </application>

</manifest>